

html {
  height: 100%;
  width: 100%;}


body {
  background-color: black;
}
.box{border:2px solid green; border-radius:30px; color:green }
img.round{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 40%;
  border: 3px solid aqua;
  padding: 5px;
  display: block;
  margin: 0 auto;
background-color:black}
h1{color:aqua; text-align:center; font-size:40px}
.containe{width:300px; height:350px;text-align:center; color:white;border:2px solid #2bede0; border-radius:30px;padding:10px; margin:0 auto; margin-top:50px;}
.containe.text{position:relative;top:50px;left:20px;}
.inp1{border:none;
    background: black;
      border-bottom:2px solid white;width:200px;font-size:15px;margin-top:40px;outline:none;color:white;}           .inp2{border:none;
  background: black;
    border-bottom:2px solid white;width:200px;font-size:15px;margin-top:40px;outline:none;color:white;}
.text button{width:350;height:50px;background-color:aqua;color:black;border:none;font-size:20px;border-radius:30px;margin-top:5px;}
button:hover{border:2px solid #2bede0;color:white;background-color:black;}
p{margin-top:30px;font-size:20px;}
p span{color:white;}
p{color:aqua;}
.photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center 40%;
  border: 3px solid aqua;
  padding: 5px;
  display: block;
  margin: 0 auto;
background-color:black;
}